# The Guild\backend\.env
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com

SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
DATABASE_URL=postgresql://postgres.mjlvflcmahtzpcvhabvv:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_AI_MODEL=@cf/meta/llama-3.1-8b-instruct

FRONTEND_URL=

# Local testing only
SUPABASE_PUBLISHABLE_KEY=
TEST_CLIENT_EMAIL=
TEST_MEMBER_EMAIL=